apidescription.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
  <resources base="https://app.ticketmaster.com">

    <!-- Discovery REST API Version 1 -->

    <!-- Search Events -->
    <!--
    <resource path="discovery/v1/events.{format}">
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="keyword" required="false" style="query" type="xsd:string">
        <doc>A string to search against events, attractions and venues. The keyword will be checked against titles, descriptions, names and other logical fields that describe any of these data objects.
                </doc>
      </param>
      <param name="attractionId" required="false" style="query" type="xsd:string" default="768011">
        <doc>Attraction ID(s) separated by comma.
                </doc>
      </param>
      <param name="venueId" required="false" style="query" type="xsd:string" default="115378">
        <doc>Venue ID(s) separated by comma.
                </doc>
      </param>
      <param name="promoterId" required="false" style="query" type="xsd:string" default="494">
        <doc>Promoter ID(s) separated by comma.
                </doc>
      </param>
      <param name="postalCode" required="false" style="query" type="xsd:string" default="90069">
        <doc>Zipcode or Postal Code of the venue in which the event is taking place.
                </doc>
      </param>
      <param name="latlong" required="false" style="query" type="xsd:string" default="34.0928090,-118.3286610">
        <doc>The longitude/Latitude coordinates for the venue in which this event is taking place.
                </doc>
      </param>
      <param name="radius" required="false" style="query" type="xsd:integer" default="25">
        <doc>The radius of the area in which we want to search for events.
                </doc>
      </param>
      <param name="size" required="false" style="query" type="xsd:integer" default="10">
        <doc>The number of events returned in the API response.</doc>
      </param>
      <param name="page" required="false" style="query" type="xsd:integer" default="1">
        <doc>The page for paginating through the results.</doc>
      </param>
      <param name="sort" required="false" style="query" type="xsd:string">
        <doc>The search sort criteria.
                </doc>
        <option value=""/>
        <option value="eventDate,desc"/>
        <option value="eventDate,asc"/>
        <option value="name,desc"/>
        <option value="name,asc"/>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The event locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <param name="marketId" required="false" style="query" type="xsd:integer" default="27">
        <doc>The city/area in which this event takes place.
                </doc>
      </param>
      <param name="deviceId" required="false" style="query" type="xsd:integer" default="1">
        <doc>The device making the API call.
                </doc>
      </param>
      <param name="domain" required="false" style="query" type="xsd:integer" default="ticketmaster.com">
        <doc>The entity interested in this event (special use case).
                </doc>
      </param>
      <method id="discovery.events.get" name="GET" apigee:displayName="Search Events">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v1</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v1/events.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#srch-events">Returns the 20
                    most recent events for the authenticating user.
                </doc>
      </method>
    </resource>
     -->
    <!-- Event Details -->
    <!--
    <resource path="discovery/v1/events/{id}.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="29004F223C406ABF">
        <doc>Event ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="domain" required="false" style="query" type="xsd:string" default="ticketmaster.com">
        <doc>The entity interested in this event (special use case).
                </doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The event locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <method id="discovery.events.id.get" name="GET" apigee:displayName="Get Event Details">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v1</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v1/events/29004F223C406ABF.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#event-details">Returns the event detail by event ID.
                </doc>
      </method>
    </resource>
    -->
    <!-- Event Images -->
    <!--
    <resource path="discovery/v1/events/{id}/images.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="0B004F0401BD55E5">
        <doc>Event ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <method id="discovery.events.id.images.get" name="GET" apigee:displayName="Search Event Images">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v1</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v1/events/29004F223C406ABF/images.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#event-img">Returns all the images for an event by ID. If an event does not have an image for a supported resolution, the event's major category image will be returned instead.
                </doc>
      </method>
    </resource>
     -->
    <!-- Search Attractions -->
    <!--
    <resource path="discovery/v1/attractions.{format}">
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="keyword" required="false" style="query" type="xsd:string">
        <doc>A string to search against attractions. The keyword will be checked against titles, descriptions, names and other logical fields.
                </doc>
      </param>
      <param name="domain" required="false" style="query" type="xsd:string" default="ticketmaster.com">
        <doc>The entity interested in this event (special use case).
                </doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The attraction locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <param name="size" required="false" style="query" type="xsd:integer" default="10">
        <doc>The number of attractions returned in the API response.
                </doc>
      </param>
      <param name="page" required="false" style="query" type="xsd:integer" default="1">
        <doc>The page for paginating through the results.
                </doc>
      </param>
      <param name="sort" required="false" style="query" type="xsd:string">
        <doc>The search sort criteria.
                </doc>
        <option value=""/>
        <option value="name,desc"/>
        <option value="name,asc"/>
      </param>
      <method id="discovery.attractions.get" name="GET" apigee:displayName="Search Attractions">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v1</apigee:tag>
          <apigee:tag>Attractions</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v1/attractions.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#search-attractions">Search Attractions!
                </doc>
      </method>
    </resource>
    -->
    <!-- Attraction Details -->
    <!--
    <resource path="discovery/v1/attractions/{id}.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="768011">
        <doc>Attraction ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="domain" required="false" style="query" type="xsd:string" default="ticketmaster.com">
        <doc>The entity interested in this attraction (special use case).
                </doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The attraction locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <method id="discovery.attractions.id.get" name="GET" apigee:displayName="Get Attraction Details">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v1</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v1/attractions/768011.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#attraction-details">Returns the attraction detail by ID.
                </doc>
      </method>
    </resource>
    -->
    <!-- Search Categories -->
    <!--
    <resource path="discovery/v1/categories.{format}">
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="keyword" required="false" style="query" type="xsd:string">
        <doc>A string to search against categories. The keyword will be checked against titles, descriptions, names and other logical fields.
                </doc>
      </param>
      <param name="domain" required="false" style="query" type="xsd:string" default="ticketmaster.com">
        <doc>The entity interested in this event (special use case).
                </doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The category locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <param name="size" required="false" style="query" type="xsd:integer" default="10">
        <doc>The number of categories returned in the API response.
                </doc>
      </param>
      <param name="page" required="false" style="query" type="xsd:integer" default="1">
        <doc>The page for paginating through the results.
                </doc>
      </param>
      <param name="sort" required="false" style="query" type="xsd:string">
        <doc>The search sort criteria.
                </doc>
        <option value=""/>
        <option value="name,desc"/>
        <option value="name,asc"/>
      </param>
      <method id="discovery.categories.get" name="GET" apigee:displayName="Search Categories">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v1</apigee:tag>
          <apigee:tag>Attractions</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v1/categories.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#search-categories">Search Categories!
                </doc>
      </method>
    </resource>
    -->
    <!-- Category Details -->
    <!--
    <resource path="discovery/v1/categories/{id}.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="203">
        <doc>Category ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="domain" required="false" style="query" type="xsd:string" default="ticketmaster.com">
        <doc>The entity interested in this attraction (special use case).</doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The attraction locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <method id="discovery.categories.id.get" name="GET" apigee:displayName="Get Category Details">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v1</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v1/categories/203.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#category-details">Returns the category detail by ID.
                </doc>
      </method>
    </resource>
    -->
    <!-- Search Venues -->
    <!--
    <resource path="discovery/v1/venues.{format}">
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="keyword" required="false" style="query" type="xsd:string">
        <doc>A string to search against venues. The keyword will be checked against titles, descriptions, names and other logical fields.
                </doc>
      </param>
      <param name="domain" required="false" style="query" type="xsd:string" default="ticketmaster.com">
        <doc>The entity interested in this event (special use case).
                </doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The category locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <param name="size" required="false" style="query" type="xsd:integer" default="10">
        <doc>The number of categories returned in the API response.
                </doc>
      </param>
      <param name="page" required="false" style="query" type="xsd:integer" default="1">
        <doc>The page for paginating through the results.
                </doc>
      </param>
      <param name="sort" required="false" style="query" type="xsd:string">
        <doc>The search sort criteria.
                </doc>
        <option value=""/>
        <option value="name,desc"/>
        <option value="name,asc"/>
      </param>
      <method id="discovery.venues.get" name="GET" apigee:displayName="Search Venues">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v1</apigee:tag>
          <apigee:tag>Attractions</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v1/venues.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#search-venues">Search Venues!
                </doc>
      </method>
    </resource>
    -->
    <!-- Venue Details -->
    <!--
    <resource path="discovery/v1/venues/{id}.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="90150">
        <doc>Venue ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="domain" required="false" style="query" type="xsd:string" default="ticketmaster.com">
        <doc>The entity interested in this attraction (special use case).
                </doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The attraction locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <method id="discovery.venues.id.get" name="GET" apigee:displayName="Get Venue Details">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v1</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v1/venues/90150.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#venue-details">Returns the venue detail by ID.
                </doc>
      </method>
    </resource>
    -->

    <!-- Discovery REST API Version 2 -->

    <!-- Search Events -->
    <resource path="discovery/v2/events.{format}">
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="keyword" required="false" style="query" type="xsd:string">
        <doc>A string to search against events, attractions and venues. The keyword will be checked against titles, descriptions, names and other logical fields that describe any of these data objects.</doc>
      </param>
      <param name="attractionId" required="false" style="query" type="xsd:string" default="“K8vZ91713eV”">
        <doc>Attraction ID(s) separated by comma.</doc>
      </param>
      <param name="venueId" required="false" style="query" type="xsd:string" default="“KovZpZAEdFtJ”">
        <doc>Venue ID(s) separated by comma.</doc>
      </param>
      <param name="postalCode" required="false" style="query" type="xsd:string" default="90069">
        <doc>Zipcode or Postal Code of the venue in which the event is taking place.</doc>
      </param>
      <param name="latlong" required="false" style="query" type="xsd:string" default="34.0928090,-118.3286610">
        <doc>The Latitude,Longitude coordinates for the venue in which this event is taking place.</doc>
      </param>
      <param name="radius" required="false" style="query" type="xsd:integer" default="25">
        <doc>The radius of the area in which we want to search for events.</doc>
      </param>
      <param name="unit" required="false" style="query" type="xsd:string" default="miles">
        <doc>The radius distance unit. Possible values: miles, km.</doc>
      </param>
      <param name="source" required="false" style="query" type="xsd:string" default="">
        <doc>Source of the event. Possible values are '', 'ticketmaster', 'ticketweb', 'universe'.</doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The event locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <param name="marketId" required="false" style="query" type="xsd:integer" default="27">
        <doc>The city/area in which this event takes place.</doc>
      </param>
      <param name="startDateTime" required="false" style="query" type="xsd:string">
        <doc>Include events happening after this date.</doc>
      </param>
      <param name="endDateTime" required="false" style="query" type="xsd:string">
        <doc>Include events happening before this date.</doc>
      </param>
      <param name="includeTBA" required="false" style="query" type="xsd:string">
        <doc>Whether or not to return events with dates to be announced (TBA). Default is 'no', TBA events are not returned.</doc>
        <option value=""/>
        <option value="yes"/>
        <option value="no"/>
        <option value="only"/>
      </param>
      <param name="includeTBD" required="false" style="query" type="xsd:string">
        <doc>Whether or not to return events with dates to be announced (TBD). Default is 'no', TBD events are not returned.</doc>
        <option value=""/>
        <option value="yes"/>
        <option value="no"/>
        <option value="only"/>
      </param>
      <param name="includeTest" required="false" style="query" type="xsd:string">
        <doc>Whether or not to return test events. Default is 'no', test events are not returned.</doc>
        <option value=""/>
        <option value="yes"/>
        <option value="no"/>
        <option value="only"/>
      </param>
      <param name="size" required="false" style="query" type="xsd:integer" default="20">
        <doc>The number of events returned in the API response.</doc>
      </param>
      <param name="page" required="false" style="query" type="xsd:integer" default="1">
        <doc>The page for paginating through the results.</doc>
      </param>
      <param name="sort" required="false" style="query" type="xsd:string">
        <doc>The search sort criteria.</doc>
        <option value=""/>
        <option value="name,desc"/>
        <option value="name,asc"/>
        <option value="date,asc"/>
        <option value="date,desc"/>
      </param>
      <param name="onsaleStartDateTime" required="false" style="query" type="xsd:string">
        <doc>Include events happening before this date.</doc>
      </param>
      <param name="onsaleEndDateTime" required="false" style="query" type="xsd:string">
        <doc>Include events happening before this date.</doc>
      </param>
      <param name="city" required="false" style="query" type="xsd:string">
        <doc>The city.</doc>
      </param>
      <param name="countryCode" required="false" style="query" type="xsd:string">
        <doc>The country code.</doc>
      </param>
      <param name="stateCode" required="false" style="query" type="xsd:string">
        <doc>The state code.</doc>
      </param>
      <param name="classificationName" required="false" style="query" type="xsd:string">
        <doc>The classification name.</doc>
      </param>
      <param name="classificationId" required="false" style="query" type="xsd:string">
        <doc>The classification ID.</doc>
      </param>
      <param name="dmaId" required="false" style="query" type="xsd:string">
        <doc>The dmaId.</doc>
      </param>
      <method id="discovery.v2.events.get" name="GET" apigee:displayName="Search Events">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v2</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v2/events.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#srch-events">Returns the 20 most recent events for the authenticating user.</doc>
      </method>
    </resource>

    <!-- Event Details -->
    <resource path="discovery/v2/events/{id}.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="G5diZfkn0B-bh">
        <doc>Event ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The event locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <method id="discovery.v2.events.id.get" name="GET" apigee:displayName="Get Event Details">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v2</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v2/events/G5diZfkn0B-bh.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#event-details">Returns the event detail by event ID.
        </doc>
      </method>
    </resource>

    <!-- Event Images -->
    <resource path="discovery/v2/events/{id}/images.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="G5diZfkn0B-bh">
        <doc>Event ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The event locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <method id="discovery.v2.events.id.images.get" name="GET" apigee:displayName="Get Event Images">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v2</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v2/events/G5diZfkn0B-bh/images.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#event-img">Returns all the images for an event by ID. If an event does not have an image for a supported resolution, the event's classification image will be returned instead.
        </doc>
      </method>
    </resource>

    <!-- Search Attractions -->
    <resource path="discovery/v2/attractions.{format}">
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="keyword" required="false" style="query" type="xsd:string">
        <doc>A string to search against attraction names.</doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The attraction locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <param name="size" required="false" style="query" type="xsd:integer" default="20">
        <doc>The number of attractions returned in the API response.</doc>
      </param>
      <param name="page" required="false" style="query" type="xsd:integer" default="1">
        <doc>The page for paginating through the results.</doc>
      </param>
      <param name="sort" required="false" style="query" type="xsd:string">
        <doc>The search sort criteria.
        </doc>
        <option value=""/>
        <option value="name,desc"/>
        <option value="name,asc"/>
      </param>
      <method id="discovery.v2.attractions.get" name="GET" apigee:displayName="Search Attractions">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v2</apigee:tag>
          <apigee:tag>Attractions</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v2/attractions.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#search-attractions">Search Attractions!
        </doc>
      </method>
    </resource>

    <!-- Attraction Details -->
    <resource path="discovery/v2/attractions/{id}.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="K8vZ917G7x0">
        <doc>Attraction ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The attraction locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <param name="source" required="true" type="xsd:string" style="query" default="json">
        <doc>source</doc>
      </param>
      <method id="discovery.v2.attractions.id.get" name="GET" apigee:displayName="Get Attraction Details">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v2</apigee:tag>
          <apigee:tag>Attractions</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v2/attractions/K8vZ917G7x0.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#attraction-details">Returns the attraction detail by ID.
        </doc>
      </method>
    </resource>

    <!-- Search Classifications -->
    <resource path="discovery/v2/classifications.{format}">
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="keyword" required="false" style="query" type="xsd:string">
        <doc>A string to search against classifications names.</doc>
      </param>
      <param name="classificationID" required="false" style="query" type="xsd:string">
        <doc>A string to search by classification ID</doc>
      </param>
      <param name="size" required="false" style="query" type="xsd:integer" default="20">
        <doc>The number of categories returned in the API response.</doc>
      </param>
      <param name="page" required="false" style="query" type="xsd:integer" default="1">
        <doc>The page for paginating through the results.</doc>
      </param>
      <param name="sort" required="false" style="query" type="xsd:string">
        <doc>The search sort criteria.</doc>
        <option value=""/>
        <option value="name,desc"/>
        <option value="name,asc"/>
      </param>
      <method id="discovery.v2.classifications.get" name="GET" apigee:displayName="Search Classifications">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v2</apigee:tag>
          <apigee:tag>Classifications</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v2/classifications.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#search-classifications">Search Classifications!</doc>
      </method>
    </resource>
    <!-- Classifications Details -->
    <resource path="discovery/v2/classifications/{id}.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="203">
        <doc>Classification ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The attraction locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <method id="discovery.v2.classifications.id.get" name="GET" apigee:displayName="Get Classification Details">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v2</apigee:tag>
          <apigee:tag>Classifications</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v2/classifications/KZFzniwnSyZfZ7v7na.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#classifications-details">Returns the classification detail by ID.</doc>
      </method>
    </resource>

    <!-- Search Venues -->
    <resource path="discovery/v2/venues.{format}">
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="keyword" required="false" style="query" type="xsd:string">
        <doc>A string to search against venue names.</doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The venue locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <param name="size" required="false" style="query" type="xsd:integer" default="20">
        <doc>The number of venues returned in the API response.</doc>
      </param>
      <param name="page" required="false" style="query" type="xsd:integer" default="1">
        <doc>The page for paginating through the results.</doc>
      </param>
      <param name="sort" required="false" style="query" type="xsd:string">
        <doc>The search sort criteria.</doc>
        <option value=""/>
        <option value="name,desc"/>
        <option value="name,asc"/>
      </param>
      <param name="stateCode" required="false" style="query" type="xsd:string">
        <doc>The state code.</doc>
      </param>
      <param name="countryCode" required="false" style="query" type="xsd:string">
        <doc>The country code.</doc>
      </param>
      <param name="includeTest" required="false" style="query" type="xsd:string">
        <doc>Include test.</doc>
        <option value="yes"/>
        <option value="no"/>
        <option value="only"/>
      </param>
      <param name="source" required="false" style="query" type="xsd:string">
        <doc>Source.</doc>
      </param>
      <method id="discovery.v2.venues.get" name="GET" apigee:displayName="Search Venues">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v2</apigee:tag>
          <apigee:tag>Venues</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v2/venues.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#search-venues">Search Venues!
        </doc>
      </method>
    </resource>
    <!-- Venue Details -->
    <resource path="discovery/v2/venues/{id}.{format}">
      <param name="id" required="true" type="xsd:string" style="template" default="KovZpZAFnIEA">
        <doc>Venue ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <param name="locale" required="false" type="xsd:string" style="query">
        <doc>The venue locale, including country and localization.</doc>
        <option value=""/>
        <option value="en-us"/>
        <option value="en-gb"/>
        <option value="en-ca"/>
        <option value="es-us"/>
        <option value="en-mx"/>
        <option value="es-mx"/>
        <option value="en-au"/>
        <option value="en-nz"/>
        <option value="fr-fr"/>
        <option value="fr-ca"/>
      </param>
      <method id="discovery.v2.venues.id.get" name="GET" apigee:displayName="Get Venue Details">
        <apigee:tags>
          <apigee:tag primary="true">Discovery API v2</apigee:tag>
          <apigee:tag>Venues</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="discovery/v2/venues/90150.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/#venue-details">Returns the venue detail by ID.
        </doc>
      </method>
    </resource>

    <!-- Event Offers -->
    <resource path="commerce/{version}/events/{id}/offers.{format}">
      <param name="version" required="true" type="xsd:string" style="template" default="v2">
        <doc>The API Version</doc>
      </param>
      <param name="id" required="true" type="xsd:string" style="template" default="05004F24E0B864B3">
        <doc>Event ID</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <method id="commerce.events.offers" name="GET" apigee:displayName="Event Offers">
        <apigee:tags>
          <apigee:tag primary="true">Commerce API</apigee:tag>
          <apigee:tag>Commerce</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="purchase/v2/events/00004F70F3D1C21D/offers.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#event-offers">Event Offers!
        </doc>
      <request>
         <param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
            <doc>
               The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
            </doc>
         </param>
      </request>
      </method>
    </resource>
    <!-- Get Cart -->
    <resource path="commerce/{version}/shopping/carts/{cartId}.{format}">
      <param name="version" required="true" type="xsd:string" style="template" default="v2">
        <doc>The API Version</doc>
      </param>
      <param name="cartId" required="true" type="xsd:string" style="template" default="">
        <doc>The cart id</doc>
      </param>
      <param name="format" required="false" type="xsd:string" style="template" default="">
        <doc>API Response Format</doc>
      </param>
      <method id="commerce.shopping.cart.get" name="GET" apigee:displayName="Get Cart">
        <apigee:tags>
          <apigee:tag primary="true">Commerce API</apigee:tag>
          <apigee:tag>Commerce</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="commerce/v2/shopping/carts/c906b302-8248-4454-bca1-2dd938d8afa1.intqa.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#get-cart">Get Cart!
        </doc>
      <request>
         <param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
            <doc>
               The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
            </doc>
         </param>
      </request>
      </method>
    </resource>
    <!-- Empty Cart -->
    <resource path="commerce/{version}/shopping/carts/{cartId}.{format}">
      <param name="version" required="true" type="xsd:string" style="template" default="v2">
        <doc>The API Version</doc>
      </param>
      <param name="cartId" required="true" type="xsd:string" style="template" default="">
        <doc>The cart id</doc>
      </param>
      <param name="format" required="false" type="xsd:string" style="template" default="">
        <doc>API Response Format</doc>
      </param>
      <method id="commerce.shopping.cart.empty" name="DELETE" apigee:displayName="Empty Cart">
        <apigee:tags>
          <apigee:tag primary="true">Commerce API</apigee:tag>
          <apigee:tag>Commerce</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="commerce/v2/shopping/carts/c906b302-8248-4454-bca1-2dd938d8afa1.intqa.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#empty-cart">Empty Cart!
        </doc>
      <request>
         <param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
            <doc>
               The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
            </doc>
         </param>
      </request>
      </method>
    </resource>
    <!-- Create Cart -->
    <resource path="commerce/{version}/shopping/carts.{format}">
      <param name="version" required="true" type="xsd:string" style="template" default="v2">
        <doc>The API Version</doc>
      </param>
      <param name="format" required="false" type="xsd:string" style="template" default="">
        <doc>API Response Format</doc>
      </param>
      <method id="commerce.shopping.cart.create" name="POST" apigee:displayName="Create Cart">
        <apigee:tags>
          <apigee:tag primary="true">Commerce API</apigee:tag>
          <apigee:tag>Commerce</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="commerce/v2/shopping/carts.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#create-cart">Create Cart!
        </doc>
        <request>
           <param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
              <doc>
                 The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
              </doc>
           </param>
           <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json">
           </param>
           <representation>
              <apigee:payload required="true">
                 <doc apigee:url="https://developer.ticketmaster.com">
                    The payload should contain a valid create cart in json format.
                 </doc>
                 <apigee:content>
                    <![CDATA[
                       {
                          "pollingCallbackUrl" : "http://your.server:8080/your-webhook-uri/",
                          "products" : [ {
                             "offers" : [
                             {
                                "offer" : "000000000001"
                             } 
                             ],
                             "product" : "00004F70F3D1C21D",
                             "qty" : 1
                          }  ]
                       }
                    ]]>
                 </apigee:content>
              </apigee:payload>
           </representation>
        </request>
      </method>
    </resource>
    <!-- Update Cart Products -->
    <resource path="commerce/{version}/shopping/carts/{cartId}/products.{format}">
      <param name="version" required="true" type="xsd:string" style="template" default="v2">
        <doc>The API Version</doc>
      </param>
      <param name="cartId" required="true" type="xsd:string" style="template" default="">
        <doc>The Cart Id</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Response Format</doc>
      </param>
      <method id="commerce.shopping.cart.update.products" name="POST" apigee:displayName="Update Cart Products">
        <apigee:tags>
          <apigee:tag primary="true">Commerce API</apigee:tag>
          <apigee:tag>Commerce</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="commerce/v2/shopping/carts/4d1315c9-9220-48b3-9882-a295db25bfe3.jphx1/products.json"/>
        <doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#create-cart">Create Cart!
        </doc>
        <request>
           <param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
              <doc>
                 The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
              </doc>
           </param>
           <param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json">
           </param>
           <representation>
              <apigee:payload required="true">
                 <doc apigee:url="https://developer.ticketmaster.com">
                    The payload should contain a valid create cart in json format.
                 </doc>
                 <apigee:content>
                    <![CDATA[
                       {
                          "pollingCallbackUrl" : "http://your.server:8080/your-webhook-uri/",
                          "products" : [ {
                             "op": "add",
                             "offers" : [
                             {
                                "offer" : "000000000001"
                             } 
                             ],
                             "product" : "00004F70F3D1C21D",
                             "qty" : 1
                          },
                          {
                             "op": "remove",
                             "reservation": "1",
                             "product": "00004F70F3D1C21D"
                          } ]
                       }
                    ]]>
                 </apigee:content>
              </apigee:payload>
           </representation>
        </request>
      </method>
    </resource>


    <!-- Publish API -->
    <resource path="publish/{version}/events.{format}">
      <param name="version" required="true" type="xsd:string" style="template" default="v2">
        <doc>The API Version</doc>
      </param>
      <param name="format" required="true" type="xsd:string" style="template" default="json">
        <doc>API Request Format</doc>
      </param>
      <method id="publish.event" name="POST" apigee:displayName="Publish events">
        <apigee:tags>
          <apigee:tag primary="true">Publish API</apigee:tag>
          <apigee:tag>Publish</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
        <apigee:example url="publish/v2/events.json"/>
        <doc apigee:url="https://developer.ticketmaster.com">
          Publish Events on ticketmaster network! So they became available on ticketmaster websites and can be find using the Discovery API.

          The "common.isTest" should be set to "false" so your event get indexed in the Discovery API.
        </doc>
        <request>
          <param name="TMPS-Correlation-Id" required="true" type="xsd:string" style="header">
            <doc>
              The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
            </doc>
          </param>
          <representation>
            <apigee:payload required="true">
              <doc apigee:url="https://developer.ticketmaster.com">
                The payload should contains a valid Event in json format.
              </doc>
              <apigee:content>
                <![CDATA[
                    {
                        "source" : {
                            "id" : "test_id_0009",
                            "name" : "Ticketmaster"
                        },
                        "test": false,
                        "names": {
                            "en-us": "example test event"
                        },
                        "publicVisibility": {
                            "startDateTime": "2015-10-29T15:00:00Z",
                            "visible": true
                        },
                        "dates": {
                            "start": {
                                "dateTime": "2016-04-15T01:00:00Z",
                                "localDate": "2016-04-14",
                                "localTime": "19:00:00"
                            },
                            "timezone": "America/Edmonton"
                        },
                        "venue": {
                            "source" : {
                                "id" : "test_venue_id_0001",
                                "name" : "Ticketmaster"
                            },
                            "test": false,
                            "currency": "USD",
                            "country": {
                                "countryCode": "US"
                            }
                        }
                    }
                ]]>
              </apigee:content>
            </apigee:payload>
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <!-- UWD API -->
  
  <resources base="https://uapi.ticketmaster.com/">
    <!-- Get info about access token -->
    <!--
    <resource path="tap/endpoint/restv1/events">
      <method id="tap.events" name="GET" apigee:displayName="Get Events">
        <apigee:tags>
          <apigee:tag primary="true">TAP</apigee:tag>
          <apigee:tag>Events</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true"/>
      </method>
    </resource>
     -->
  </resources>
 
</application>
