apidescription.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apigee="http://api.apigee.com/wadl/2010/07/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">
	<resources base="https://app.ticketmaster.com">
		<!-- Discovery REST API Version 2 -->

		<!-- Search Events -->
		<resource path="discovery/v2/events.{format}">
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<param name="keyword" required="false" style="query" type="xsd:string">
				<doc>A string to search against events, attractions and venues. The keyword will be checked against titles, descriptions, names and other logical fields that describe any of these data objects.</doc>
			</param>
			<param name="attractionId" required="false" style="query" type="xsd:string" default="">
				<doc>Attraction ID(s) separated by comma.</doc>
			</param>
			<param name="venueId" required="false" style="query" type="xsd:string" default="">
				<doc>Venue ID(s) separated by comma.</doc>
			</param>
			<param name="postalCode" required="false" style="query" type="xsd:string" default="">
				<doc>Zipcode or Postal Code of the venue in which the event is taking place.</doc>
			</param>
			<param name="latlong" required="false" style="query" type="xsd:string" default="">
				<doc>The Latitude,Longitude coordinates for the venue in which this event is taking place.</doc>
			</param>
			<param name="radius" required="false" style="query" type="xsd:integer" default="">
				<doc>The radius of the area in which we want to search for events.</doc>
			</param>
			<param name="unit" required="false" style="query" type="xsd:string" default="">
				<doc>The radius distance unit. Possible values: miles, km.</doc>
			</param>
			<param name="source" required="false" style="query" type="xsd:string"  default="none">
				<doc>Source of the event.</doc>
				<option value="none"/>
				<option value="ticketmaster"/>
				<option value="ticketweb"/>
				<option value="universe"/>
			</param>
			<param name="locale" required="false" type="xsd:string" style="query"  default="none">
				<doc>The event locale, including country and localization.</doc>
				<option value="none"/>
				<option value="en-us"/>
				<option value="en-gb"/>
				<option value="en-ca"/>
				<option value="es-us"/>
				<option value="en-mx"/>
				<option value="es-mx"/>
				<option value="en-au"/>
				<option value="en-nz"/>
				<option value="fr-fr"/>
				<option value="fr-ca"/>
			</param>
			<param name="marketId" required="false" style="query" type="xsd:integer" default="">
				<doc>The city/area in which this event takes place.</doc>
			</param>
			<param name="startDateTime" required="false" style="query" type="xsd:string">
				<doc>Include events happening after this date.</doc>
			</param>
			<param name="endDateTime" required="false" style="query" type="xsd:string">
				<doc>Include events happening before this date.</doc>
			</param>
			<param name="includeTBA" required="false" style="query" type="xsd:string"  default="no">
				<doc>Whether or not to return events with dates to be announced (TBA). TBA events are not returned.</doc>
				<option value="no"/>
				<option value="only"/>
				<option value="yes"/>
			</param>
			<param name="includeTBD" required="false" style="query" type="xsd:string"  default="no">
				<doc>Whether or not to return events with dates to be announced (TBD). TBD events are not returned.</doc>
				<option value="no"/>
				<option value="yes"/>
				<option value="only"/>
			</param>
			<param name="includeTest" required="false" style="query" type="xsd:string"  default="no">
				<doc>Whether or not to return test events. Test events are not returned.</doc>
				<option value="no"/>
				<option value="yes"/>
				<option value="only"/>
			</param>
			<param name="size" required="false" style="query" type="xsd:integer" default="20">
				<doc>The number of events returned in the API response.</doc>
			</param>
			<param name="page" required="false" style="query" type="xsd:integer" default="0">
				<doc>The page for paginating through the results.</doc>
			</param>
			<param name="sort" required="false" style="query" type="xsd:string"  default="none">
				<doc>The search sort criteria.</doc>
				<option value="none"/>
				<option value="name,desc"/>
				<option value="name,asc"/>
				<option value="date,asc"/>
				<option value="date,desc"/>
			</param>
			<param name="onsaleStartDateTime" required="false" style="query" type="xsd:string">
				<doc>Include events happening before this date.</doc>
			</param>
			<param name="onsaleEndDateTime" required="false" style="query" type="xsd:string">
				<doc>Include events happening before this date.</doc>
			</param>
			<param name="city" required="false" style="query" type="xsd:string">
				<doc>The city.</doc>
			</param>
			<param name="countryCode" required="false" style="query" type="xsd:string">
				<doc>The country code.</doc>
			</param>
			<param name="stateCode" required="false" style="query" type="xsd:string">
				<doc>The state code.</doc>
			</param>
			<param name="classificationName" required="false" style="query" type="xsd:string">
				<doc>The classification name.</doc>
			</param>
			<param name="classificationId" required="false" style="query" type="xsd:string">
				<doc>The classification ID.</doc>
			</param>
			<param name="dmaId" required="false" style="query" type="xsd:string">
				<doc>The dmaId.</doc>
			</param>
			<method id="discovery.v2.events.get" name="GET" apigee:displayName="Search Events">
				<apigee:tags>
					<apigee:tag primary="true">Discovery API v2</apigee:tag>
					<apigee:tag>Events</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="discovery/v2/events.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/v2/#srch-events-v2">Returns the 20 most recent events for the authenticating user.</doc>
			</method>
		</resource>

		<!-- Event Details -->
		<resource path="discovery/v2/events/{id}.{format}">
			<method id="discovery.v2.events.id.get" name="GET" apigee:displayName="Get Event Details">
				<apigee:tags>
					<apigee:tag primary="true">Discovery API v2</apigee:tag>
					<apigee:tag>Events</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="discovery/v2/events/G5diZfkn0B-bh.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/v2/#event-details-v2">Returns the event detail by event ID.
				</doc>
			</method>
			<param name="id" required="true" type="xsd:string" style="template" default="G5diZfkn0B-bh">
				<doc>Event ID</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json">
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<param name="locale" required="false" type="xsd:string" style="query"  default="none">
				<doc>The event locale, including country and localization.</doc>
				<option value="none"/>
				<option value="en-us"/>
				<option value="en-gb"/>
				<option value="en-ca"/>
				<option value="es-us"/>
				<option value="en-mx"/>
				<option value="es-mx"/>
				<option value="en-au"/>
				<option value="en-nz"/>
				<option value="fr-fr"/>
				<option value="fr-ca"/>
			</param>
		</resource>

		<!-- Event Images -->
		<resource path="discovery/v2/events/{id}/images.{format}">
			<param name="id" required="true" type="xsd:string" style="template" default="G5diZfkn0B-bh">
				<doc>Event ID</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<param name="locale" required="false" type="xsd:string" style="query"  default="none">
				<doc>The event locale, including country and localization.</doc>
				<option value="none"/>
				<option value="en-us"/>
				<option value="en-gb"/>
				<option value="en-ca"/>
				<option value="es-us"/>
				<option value="en-mx"/>
				<option value="es-mx"/>
				<option value="en-au"/>
				<option value="en-nz"/>
				<option value="fr-fr"/>
				<option value="fr-ca"/>
			</param>
			<method id="discovery.v2.events.id.images.get" name="GET" apigee:displayName="Get Event Images">
				<apigee:tags>
					<apigee:tag primary="true">Discovery API v2</apigee:tag>
					<apigee:tag>Events</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="discovery/v2/events/G5diZfkn0B-bh/images.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/v2/#event-img-v2">Returns all the images for an event by ID. If an event does not have an image for a supported resolution, the event's classification image will be returned instead.
				</doc>
			</method>
		</resource>

		<!-- Search Attractions -->
		<resource path="discovery/v2/attractions.{format}">
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<param name="keyword" required="false" style="query" type="xsd:string">
				<doc>A string to search against attraction names.</doc>
			</param>
			<param name="locale" required="false" type="xsd:string" style="query" default="none">
				<doc>The attraction locale, including country and localization.</doc>
				<option value="none"/>
				<option value="en-us"/>
				<option value="en-gb"/>
				<option value="en-ca"/>
				<option value="es-us"/>
				<option value="en-mx"/>
				<option value="es-mx"/>
				<option value="en-au"/>
				<option value="en-nz"/>
				<option value="fr-fr"/>
				<option value="fr-ca"/>
			</param>
			<param name="size" required="false" style="query" type="xsd:integer" default="20">
				<doc>The number of attractions returned in the API response.</doc>
			</param>
			<param name="page" required="false" style="query" type="xsd:integer" default="1">
				<doc>The page for paginating through the results.</doc>
			</param>
			<param name="sort" required="false" style="query" type="xsd:string"  default="none">
				<doc>The search sort criteria.</doc>
				<option value="none"/>
				<option value="name,desc"/>
				<option value="name,asc"/>
			</param>
			<method id="discovery.v2.attractions.get" name="GET" apigee:displayName="Search Attractions">
				<apigee:tags>
					<apigee:tag primary="true">Discovery API v2</apigee:tag>
					<apigee:tag>Attractions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="discovery/v2/attractions.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/v2/#search-attractions-v2">Search Attractions!
				</doc>
			</method>
		</resource>

		<!-- Attraction Details -->
		<resource path="discovery/v2/attractions/{id}.{format}">
			<param name="id" required="true" type="xsd:string" style="template" default="K8vZ917G7x0">
				<doc>Attraction ID</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<param name="locale" required="false" type="xsd:string" style="query"  default="none">
				<doc>The attraction locale, including country and localization.</doc>
				<option value="none"/>
				<option value="en-us"/>
				<option value="en-gb"/>
				<option value="en-ca"/>
				<option value="es-us"/>
				<option value="en-mx"/>
				<option value="es-mx"/>
				<option value="en-au"/>
				<option value="en-nz"/>
				<option value="fr-fr"/>
				<option value="fr-ca"/>
			</param>
			<param name="source" required="true" type="xsd:string" style="query" default="json">
				<doc>source</doc>
			</param>
			<method id="discovery.v2.attractions.id.get" name="GET" apigee:displayName="Get Attraction Details">
				<apigee:tags>
					<apigee:tag primary="true">Discovery API v2</apigee:tag>
					<apigee:tag>Attractions</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="discovery/v2/attractions/K8vZ917G7x0.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/v2/#attraction-details-v2">Returns the attraction detail by ID.
				</doc>
			</method>
		</resource>

		<!-- Search Classifications -->
		<resource path="discovery/v2/classifications.{format}">
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<param name="keyword" required="false" style="query" type="xsd:string">
				<doc>A string to search against classifications names.</doc>
			</param>
			<param name="classificationID" required="false" style="query" type="xsd:string">
				<doc>A string to search by classification ID</doc>
			</param>
			<param name="size" required="false" style="query" type="xsd:integer" default="20">
				<doc>The number of categories returned in the API response.</doc>
			</param>
			<param name="page" required="false" style="query" type="xsd:integer" default="1">
				<doc>The page for paginating through the results.</doc>
			</param>
			<param name="sort" required="false" style="query" type="xsd:string"  default="none">
				<doc>The search sort criteria.</doc>
				<option value="none"/>
				<option value="name,desc"/>
				<option value="name,asc"/>
			</param>
			<method id="discovery.v2.classifications.get" name="GET" apigee:displayName="Search Classifications">
				<apigee:tags>
					<apigee:tag primary="true">Discovery API v2</apigee:tag>
					<apigee:tag>Classifications</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="discovery/v2/classifications.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/v2/#search-classifications-v2">Search Classifications!</doc>
			</method>
		</resource>

		<!-- Classifications Details -->
		<resource path="discovery/v2/classifications/{id}.{format}">
			<param name="id" required="true" type="xsd:string" style="template" default="203">
				<doc>Classification ID</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<param name="locale" required="false" type="xsd:string" style="query"  default="none">
				<doc>The attraction locale, including country and localization.</doc>
				<option value="none"/>
				<option value="en-us"/>
				<option value="en-gb"/>
				<option value="en-ca"/>
				<option value="es-us"/>
				<option value="en-mx"/>
				<option value="es-mx"/>
				<option value="en-au"/>
				<option value="en-nz"/>
				<option value="fr-fr"/>
				<option value="fr-ca"/>
			</param>
			<method id="discovery.v2.classifications.id.get" name="GET" apigee:displayName="Get Classification Details">
				<apigee:tags>
					<apigee:tag primary="true">Discovery API v2</apigee:tag>
					<apigee:tag>Classifications</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="discovery/v2/classifications/KZFzniwnSyZfZ7v7na.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/v2/#classifications-details-v2">Returns the classification detail by ID.</doc>
			</method>
		</resource>

		<!-- Search Venues -->
		<resource path="discovery/v2/venues.{format}">
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<param name="keyword" required="false" style="query" type="xsd:string">
				<doc>A string to search against venue names.</doc>
			</param>
			<param name="locale" required="false" type="xsd:string" style="query"  default="none">
				<doc>The venue locale, including country and localization.</doc>
				<option value="none"/>
				<option value="en-us"/>
				<option value="en-gb"/>
				<option value="en-ca"/>
				<option value="es-us"/>
				<option value="en-mx"/>
				<option value="es-mx"/>
				<option value="en-au"/>
				<option value="en-nz"/>
				<option value="fr-fr"/>
				<option value="fr-ca"/>
			</param>
			<param name="size" required="false" style="query" type="xsd:integer" default="20">
				<doc>The number of venues returned in the API response.</doc>
			</param>
			<param name="page" required="false" style="query" type="xsd:integer" default="1">
				<doc>The page for paginating through the results.</doc>
			</param>
			<param name="sort" required="false" style="query" type="xsd:string"  default="none">
				<doc>The search sort criteria.</doc>
				<option value="none"/>
				<option value="name,desc"/>
				<option value="name,asc"/>
			</param>
			<param name="stateCode" required="false" style="query" type="xsd:string">
				<doc>The state code.</doc>
			</param>
			<param name="countryCode" required="false" style="query" type="xsd:string">
				<doc>The country code.</doc>
			</param>
			<param name="includeTest" required="false" style="query" type="xsd:string"  default="no">
				<doc>Include test.</doc>
				<option value="yes"/>
				<option value="no"/>
				<option value="only"/>
			</param>
			<param name="source" required="false" style="query" type="xsd:string">
				<doc>Source.</doc>
			</param>
			<method id="discovery.v2.venues.get" name="GET" apigee:displayName="Search Venues">
				<apigee:tags>
					<apigee:tag primary="true">Discovery API v2</apigee:tag>
					<apigee:tag>Venues</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="discovery/v2/venues.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/v2/#search-venues-v2">Search Venues!
				</doc>
			</method>
		</resource>

		<!-- Venue Details -->
		<resource path="discovery/v2/venues/{id}.{format}">
			<param name="id" required="true" type="xsd:string" style="template" default="KovZpZAFnIEA">
				<doc>Venue ID</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<param name="locale" required="false" type="xsd:string" style="query"  default="none">
				<doc>The venue locale, including country and localization.</doc>
				<option value="none"/>
				<option value="en-us"/>
				<option value="en-gb"/>
				<option value="en-ca"/>
				<option value="es-us"/>
				<option value="en-mx"/>
				<option value="es-mx"/>
				<option value="en-au"/>
				<option value="en-nz"/>
				<option value="fr-fr"/>
				<option value="fr-ca"/>
			</param>
			<method id="discovery.v2.venues.id.get" name="GET" apigee:displayName="Get Venue Details">
				<apigee:tags>
					<apigee:tag primary="true">Discovery API v2</apigee:tag>
					<apigee:tag>Venues</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="discovery/v2/venues/90150.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/discovery/v2/#venue-details-v2">Returns the venue detail by ID.
				</doc>
			</method>
		</resource>

		<!-- Event Offers -->
		<resource path="commerce/{version}/events/{id}/offers.{format}">
			<param name="version" required="true" type="xsd:string" style="template" default="v2">
				<doc>The API Version</doc>
			</param>
			<param name="id" required="true" type="xsd:string" style="template" default="LvZ184-QEP3xtOkePZvJR">
				<doc>Event ID</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<method id="commerce.events.offers" name="GET" apigee:displayName="Event Offers">
				<apigee:tags>
					<apigee:tag primary="true">Commerce API</apigee:tag>
					<apigee:tag>Commerce</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="purchase/v2/events/00004F70F3D1C21D/offers.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#event-offers">Event Offers!
				</doc>
				<request>
					<param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
						<doc>
							The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
						</doc>
					</param>
				</request>
			</method>
		</resource>

		<!-- Get Cart -->
		<resource path="commerce/{version}/shopping/carts/{cartId}.{format}">
			<param name="version" required="true" type="xsd:string" style="template" default="v2">
				<doc>The API Version</doc>
			</param>
			<param name="cartId" required="true" type="xsd:string" style="template" default="">
				<doc>The cart id</doc>
			</param>
			<param name="format" required="false" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<method id="commerce.shopping.cart.get" name="GET" apigee:displayName="Get Cart">
				<apigee:tags>
					<apigee:tag primary="true">Commerce API</apigee:tag>
					<apigee:tag>Commerce</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="commerce/v2/shopping/carts/c906b302-8248-4454-bca1-2dd938d8afa1.intqa.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#get-cart">Get Cart!
				</doc>
				<request>
					<param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
						<doc>
							The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
						</doc>
					</param>
				</request>
			</method>
		</resource>

		<!-- Empty Cart -->
		<resource path="commerce/{version}/shopping/carts/{cartId}.{format}">
			<param name="version" required="true" type="xsd:string" style="template" default="v2">
				<doc>The API Version</doc>
			</param>
			<param name="cartId" required="true" type="xsd:string" style="template" default="">
				<doc>The cart id</doc>
			</param>
			<param name="format" required="false" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<method id="commerce.shopping.cart.empty" name="DELETE" apigee:displayName="Empty Cart">
				<apigee:tags>
					<apigee:tag primary="true">Commerce API</apigee:tag>
					<apigee:tag>Commerce</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="commerce/v2/shopping/carts/c906b302-8248-4454-bca1-2dd938d8afa1.intqa.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#empty-cart">Empty Cart!
				</doc>
				<request>
					<param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
						<doc>
							The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
						</doc>
					</param>
				</request>
			</method>
		</resource>

		<!-- Create Cart -->
		<resource path="commerce/{version}/shopping/carts.{format}">
			<param name="version" required="true" type="xsd:string" style="template" default="v2">
				<doc>The API Version</doc>
			</param>
			<param name="format" required="false" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<method id="commerce.shopping.cart.create" name="POST" apigee:displayName="Create Cart">
				<apigee:tags>
					<apigee:tag primary="true">Commerce API</apigee:tag>
					<apigee:tag>Commerce</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="commerce/v2/shopping/carts.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#create-cart">Create Cart!
				</doc>
				<request>
					<param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
						<doc>
							The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
						</doc>
					</param>
					<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json">
					</param>
					<representation>
						<apigee:payload required="true">
							<doc apigee:url="https://developer.ticketmaster.com">
								The payload should contain a valid create cart in json format.
							</doc>
							<apigee:content>
								<![CDATA[
                       {
                          "pollingCallbackUrl" : "http://your.server:8080/your-webhook-uri/",
                          "products" : [ {
                             "offers" : [
                             {
                                "offer" : "000000000001"
                             } 
                             ],
                             "product" : "00004F70F3D1C21D",
                             "qty" : 1
                          }  ]
                       }
                    ]]>
							</apigee:content>
						</apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<!-- Update Cart Products -->
		<resource path="commerce/{version}/shopping/carts/{cartId}/products.{format}">
			<param name="version" required="true" type="xsd:string" style="template" default="v2">
				<doc>The API Version</doc>
			</param>
			<param name="cartId" required="true" type="xsd:string" style="template" default="">
				<doc>The Cart Id</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<method id="commerce.shopping.cart.update.products" name="POST" apigee:displayName="Update Cart Products">
				<apigee:tags>
					<apigee:tag primary="true">Commerce API</apigee:tag>
					<apigee:tag>Commerce</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="commerce/v2/shopping/carts/4d1315c9-9220-48b3-9882-a295db25bfe3.jphx1/products.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#create-cart">Create Cart!
				</doc>
				<request>
					<param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
						<doc>
							The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
						</doc>
					</param>
					<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json">
					</param>
					<representation>
						<apigee:payload required="true">
							<doc apigee:url="https://developer.ticketmaster.com">
								The payload should contain a valid create cart in json format.
							</doc>
							<apigee:content>
								<![CDATA[
                       {
                          "pollingCallbackUrl" : "http://your.server:8080/your-webhook-uri/",
                          "products" : [ {
                             "op": "add",
                             "offers" : [
                             {
                                "offer" : "000000000001"
                             } 
                             ],
                             "product" : "00004F70F3D1C21D",
                             "qty" : 1
                          },
                          {
                             "op": "remove",
                             "reservation": "1",
                             "product": "00004F70F3D1C21D"
                          } ]
                       }
                    ]]>
							</apigee:content>
						</apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<!-- Select Payments -->
		<resource path="commerce/{version}/shopping/carts/{cartId}/payments.{format}">
			<param name="version" required="true" type="xsd:string" style="template" default="v2">
				<doc>The API Version</doc>
			</param>
			<param name="cartId" required="true" type="xsd:string" style="template" default="">
				<doc>The Cart Id</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<method id="commerce.shopping.cart.select.payments" name="POST" apigee:displayName="Select Payments">
				<apigee:tags>
					<apigee:tag primary="true">Commerce API</apigee:tag>
					<apigee:tag>Commerce</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="commerce/v2/shopping/carts/4d1315c9-9220-48b3-9882-a295db25bfe3.jphx1/payments.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#select-payments">Select Payments!
				</doc>
				<request>
					<param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
						<doc>
							The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
						</doc>
					</param>
					<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json">
					</param>
					<representation>
						<apigee:payload required="true">
							<doc apigee:url="https://developer.ticketmaster.com">
								The payload should contain a valid payment in json format.
							</doc>
							<apigee:content>
								<![CDATA[
                       {
                          "pollingCallbackUrl" : "http://your.server:8080/your-webhook-uri/",
                          "payments" : [ {
                             "type": "wallet",
                             "amount" : {
                                "amount" : "100.00",
                                "currency" : "USD"
                             },
                             "token" : "wallet-token-id",
                             "cvv" : "1234",
                             "selectedItems" : [ {
                                "reservations" : [ "reservation-id-1", "reservation-id-2" ]
                             } ]
                          } ]
                       }
                    ]]>
							</apigee:content>
						</apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<!-- Add Delivery -->
		<resource path="commerce/{version}/shopping/carts/{cartId}/deliveries.{format}">
			<param name="version" required="true" type="xsd:string" style="template" default="v2">
				<doc>The API Version</doc>
			</param>
			<param name="cartId" required="true" type="xsd:string" style="template" default="">
				<doc>The Cart Id</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Response Format</doc>
				<option value="json"/>
			</param>
			<method id="commerce.shopping.cart.add.delivery" name="POST" apigee:displayName="Select Deliveries">
				<apigee:tags>
					<apigee:tag primary="true">Commerce API</apigee:tag>
					<apigee:tag>Commerce</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="commerce/v2/shopping/carts/4d1315c9-9220-48b3-9882-a295db25bfe3.jphx1/deliveries.json"/>
				<doc apigee:url="http://developer.ticketmaster.com/products-and-docs/apis/commerce/#select-deliveries">Select Delivery!
				</doc>
				<request>
					<param name="TMPS-Correlation-Id" required="false" type="xsd:string" style="header">
						<doc>
							The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
						</doc>
					</param>
					<param name="Content-Type" required="true" type="xsd:string" style="header" default="application/json">
					</param>
					<representation>
						<apigee:payload required="true">
							<doc apigee:url="https://developer.ticketmaster.com">
								The payload should contain a valid create cart in json format.
							</doc>
							<apigee:content>
								<![CDATA[
                       {
                        "deliveries": [
                          {
                            "deliveryId": "deliveryId1",
                            "selectedItems": {
                              "reservations": [
                                "reservationId1"
                              ]
                            }
                          },
                          {
                            "deliveryId": "deliveryId2",
                            "selectedItems": {
                              "reservations": [
                                "reservationId1"
                              ]
                            }
                          }
                        ]
                      }
                    ]]>
							</apigee:content>
						</apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<!-- Publish API -->
		<resource path="publish/{version}/events.{format}">
			<param name="version" required="true" type="xsd:string" style="template" default="v2">
				<doc>The API Version</doc>
			</param>
			<param name="format" required="true" type="xsd:string" style="template" default="json" >
				<doc>API Request Format</doc>
				<option value="json"/>
			</param>
			<method id="publish.event" name="POST" apigee:displayName="Publish events">
				<apigee:tags>
					<apigee:tag primary="true">Publish API</apigee:tag>
					<apigee:tag>Publish</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true"/>
				<apigee:example url="publish/v2/events.json"/>
				<doc apigee:url="https://developer.ticketmaster.com">
					Publish Events on ticketmaster network! So they became available on ticketmaster websites and can be find using the Discovery API.

					The "common.isTest" should be set to "false" so your event get indexed in the Discovery API.
				</doc>
				<request>
					<param name="TMPS-Correlation-Id" required="true" type="xsd:string" style="header">
						<doc>
							The TMPS-Correlation-Id header will be propagate to all our system. In order to track down issue with your request. You should provide it and it should be unique for each request.
						</doc>
					</param>
					<representation>
						<apigee:payload required="true">
							<doc apigee:url="https://developer.ticketmaster.com">
								The payload should contains a valid Event in json format.
							</doc>
							<apigee:content>
								<![CDATA[
                    {
                        "source" : {
                            "id" : "test_id_0009",
                            "name" : "Ticketmaster"
                        },
                        "test": false,
                        "names": {
                            "en-us": "example test event"
                        },
                        "publicVisibility": {
                            "startDateTime": "2015-10-29T15:00:00Z",
                            "visible": true
                        },
                        "dates": {
                            "start": {
                                "dateTime": "2016-04-15T01:00:00Z",
                                "localDate": "2016-04-14",
                                "localTime": "19:00:00"
                            },
                            "timezone": "America/Edmonton"
                        },
                        "venue": {
                            "source" : {
                                "id" : "test_venue_id_0001",
                                "name" : "Ticketmaster"
                            },
                            "test": false,
                            "currency": "USD",
                            "country": {
                                "countryCode": "US"
                            }
                        }
                    }
                ]]>
							</apigee:content>
						</apigee:payload>
					</representation>
				</request>
			</method>
		</resource>
	</resources>
</application>
